kumuluzee:
  name: pickup-service
  env:
    name: dev
  version: 1.0.0
  server:
    http:
      port: 8080
  datasources:
  - jndi-name: jdbc/SharyCarDB
    connection-url: jdbc:postgresql://sharycardb.czqdzv4vbdko.eu-west-1.rds.amazonaws.com:5432/postgres
    username: postgres
    password: postgres
    max-pool-size: 20
  health:
    checks:
      data-source-health-check:
        jndi-name: jdbc/SharyCarDB